.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
} 
.username {
    font-weight: 700;
}
.logoutBtn {
    padding: 5px 10px;
    background-color: tomato;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}